<!DOCTYPE html>
<html>
  <head>
    <title>HeadsUp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Heads Up!</h1>
    <h3>Helping you keep your head up when you're feeling down.</h3>
    <%= yield %>
  </body>
</html>
